/* 
order of precedence
1. inline styles
2. internal styles
3. external styles

caviat: !important will override any precedence (should only use for debugging)
 */
 /* html tag selectors */
 body {
    background-color: #1c87c9;
  }

  p {
    color: purple ;
    /* background-color: orange*/
  }

/* class selector */
.middle-p {
    color: red
}
/* id selector */
#new-id{

}