/* the old way of ddoing horizontal layout
li {
    display: inline;
} */

/* the modern way of doing horizontal layouts */

ul {
    display: flex; /* by defalt, display: flex has flex direction row */
    /* flex-direction: column; */
    list-style: none;
    gap: 16px;
}

header {
    display: flex;
    justify-content: space-between;
}